h2{
    text-align: center;
    text-decoration: underline;
}
.Q1{
    background-color: cadetblue;
}
.Q5 img{
    height: 120px;
    width: 120px;
}
.opacity-2{
    opacity: 0.5;
}
.Q6{
    background-color: rgb(155, 164, 155);
}
.Q7 .img-1{
    background-image: url(./image/panda.png);
    height: 200px;
    width: auto;
}
.Q7 .img-2{
    background-image: url(./image/panda.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}
.Q8{
    background-image: url(./image/panda.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
}
.Q9{
    color: bisque;
    background-image: url(./image/black.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 200px;
    width: auto;
}
.Q10{
    background-color: black;
    color: white;
}
.external{
    background-color: seagreen;
}
.Q15{
    background-color: burlywood;
}
.ans17{
    text-align: center;
    color: blue;
}
.Q19 img{
    height: 200px;
    width: auto;
}
.ans20{
    background-color:whitesmoke;
    margin: auto;
    width: 80%;
    height: 620px;
}
.row{
    float: left;
    margin:auto 30px;
}
.item{
    float: left;
    background-color: grey;
    margin: 30px;
    margin-bottom: 60px;
    height: 200px;
    width: 290px;
}
.info-1{
    padding-top: 30%;
    text-align:center  ;
    color:white;
    height: 50%;

}
.info-2{
    box-shadow: 0px 0px 1px  black;
    background-color: #ffffff;
    height: 40%;
    width: 270px;
    padding-left: 20px;
    padding-top: 10px;
}
.view{
    margin-top: 10px;
    margin-left: 0;
    width: 20%;
}
.edit{
    width: 20%;
}
