*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: slategray;
    height: 70px;
    width: auto;
    
}
img{
    width: 20%;
    height: 70px;
    list-style: none;
    float: left;
}
.item ul{ 
    float: left;
    width: 80%;
    height: 70px;
    list-style: none;
    text-align: center;
}
ul li{
    line-height: 70px;
    display: inline;
    padding: 20px;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: floralwhite;
}
ul li a:hover{
    color: black;
}