@media screen and (max-width:500px) {
    .grid{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 150px 150px;
    }
    .header{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
    }
    .menu{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }
    .hero{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
    }
    .main{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
    }
    .banner{
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
    }
    .extra{
        grid-row-start: 6;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 2;
    }
    .image{
        grid-row-start: 7;
        grid-column-start: 1;
        grid-row-end: 8;
        grid-column-end: 2;

        grid-column: 1/2;
        grid-row: 7/8;
    }
}

@media screen and (min-width:501px) and (max-width:768px) {
    .grid{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 200px 200px ;
    }
    .header{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 5;
    }
    .hero{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 5;
    }
    .main{
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .menu{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
    }
    .image{
        grid-row-start: 5;
        grid-column-start: 4;
        grid-row-end: 6;
        grid-column-end: 5;
    }
    .banner{
        grid-row-start: 4;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-column-end: 5;
    }
    .extra{
        grid-row-start: 5;
        grid-column-start: 2;
        grid-row-end: 6;
        grid-column-end: 4;
    }
}