*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: ghostwhite;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 5;
}
img{
    width: 20%;
    height: 70px;
    float: left;
}

.item ul{
    width: 80%;
    height: 70px;
    float: left;
}
.item ul li{
    line-height: 70px;
    display: inline;
    padding: 20px;
    margin: 20px;
}
.item ul li a{
    text-decoration: none;
    color: green;
}
.dropdown{
    display: none;
}

.dropdown ul li a{
    height: 250px;
    width: auto;
    display: block;
    text-align: left;
    top: 5px;
    color: #2bab0d;
}
.col-1 img{
    height: 250px;
    width: 250px;
}
.item ul li:hover .dropdown{
    position: absolute;
    margin: 15px;
    background: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item ul li:hover .dropdown ul li{
    display:list-item;
    margin: 10px;
    text-align: left;
    top: 10px;
    list-style: none;
}
#slider img{
    position: fixed;
    height: auto;
    width: 100%;
    filter: brightness(50%);
    z-index: 0;
}
#banner-1{
    position: relative;
    width: 400px;
    height: 200px;
    height: auto;
    width: 100%;

} 

.banner-text{
  position: relative;
  text-align: center;
  color: white;
}

 #banner-1 .banner-heading{
    position: absolute;
    text-align: center;
    top: 80px;
    left: 6px;
    width: 200px;
    height: 100px;
    z-index: 10;
}
