.Q9{
    color: bisque;
    background-image: url(../image/black.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 200px;
    width: auto;
}